/NavigationAnimationXF/NavigationAnimationXF/NavigationAnimationXF.Windows
/NavigationAnimationXF/NavigationAnimationXF/NavigationAnimationXF.WinPhone
/NavigationAnimationXF/NavigationAnimationXF/NavigationAnimationXF.UWP
/NavigationAnimationXF/NavigationAnimationXF/NavigationAnimationXF/bin
/NavigationAnimationXF/NavigationAnimationXF/NavigationAnimationXF/obj
/NavigationAnimationXF/NavigationAnimationXF/NavigationAnimationXF.Droid/bin
/NavigationAnimationXF/NavigationAnimationXF/NavigationAnimationXF.Droid/obj
/NavigationAnimationXF/NavigationAnimationXF/NavigationAnimationXF.iOS/obj
/NavigationAnimationXF/NavigationAnimationXF/NavigationAnimationXF.iOS/bin
/NavigationAnimationXF/.vs
